* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --color1: #0073ff;
    --color2: #f2f2f2;
    --color3: #000000;
    --bg-navbar2: #e0e0e0;
    --bg-menu: #051c38;
    --bg-menu-hover: #021222;
    --color--texts1: #f2f2f2;
    --color--texts2: #000000;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    /* background-image: url("../img/background.jpg"); */
    /* background-color: #1A232C; */
}

.container {
    margin: 20px 0;
}

section[id] {
    scroll-margin-top: 60px;
}

/* PRELOAD STAR */
#preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color3);
    background-size: 15%;
    height: 100vh;
    width: 100%;
    z-index: 1002;
    position: fixed;
}

.loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    animation: pulsOut 1.8s ease-in-out infinite;
    filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
}

.loader:before {
    width: 100%;
    padding-bottom: 100%;
    box-shadow: inset 0 0 0 1rem #fff;
    animation-name: pulsIn;
}

.loader:after {
    width: calc(100% - 2rem);
    padding-bottom: calc(100% - 2rem);
    box-shadow: 0 0 0 0 #fff;
}

@keyframes pulsIn {
    0% {
        box-shadow: inset 0 0 0 1rem #fff;
        opacity: 1;
    }

    50%,
    100% {
        box-shadow: inset 0 0 0 0 #fff;
        opacity: 0;
    }
}

@keyframes pulsOut {

    0%,
    50% {
        box-shadow: 0 0 0 0 #fff;
        opacity: 0;
    }

    100% {
        box-shadow: 0 0 0 1rem #fff;
        opacity: 1;
    }
}


/* PRELOAD END */

/* NAV START */
header {
    position: fixed;
    width: 100%;
    /* top: 0;
    right: 0; */
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: right;
    background: transparent;
    padding: 0 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
    height: 60px;
}

.active {
    background-color: var(--color1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}

.active-nav-color {
    background-color: var(--bg-menu);
}

.navlinks {
    display: flex;
}

.navlinks a {
    color: var(--color2);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}

/* .navlinks a:hover {
    color: var(--color1);
} */

#menu-icon {
    font-size: 35px;
    color: var(--color2);
    z-index: 1001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

.flags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 50px;
}

.flag {
    height: 35px;
    cursor: pointer;
    display: block;
    margin: 0 5px;
}

/* NAV END */
/* HOME START */

.home__section {
    min-height: 100vh;
    position: relative;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, .5);
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    max-width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-image: url("../img/hero.jpg");
}

.home:before {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: var(--color3);
    opacity: 0.3;
    min-height: 100vh;
    width: 100%;
}

/* .home .texture {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background:url('../img/cross-stripes.png');
    background-attachment: fixed;
  } */

.home__text {
    color: var(--color2);
    z-index: 2;
    margin: 0 15px;
}

.tittle-hero {
    font-size: 40px;
    z-index: 900;
}

.paragraph-hero {
    font-size: 30px;
    z-index: 900;
}

.color {
    color: var(--color1);
}

/* HOME END */
/* ABOUT START */
.about__section {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__container {
    padding: 40px;
    height: 100%;
    width: 100%;
    max-width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.about-img img {
    max-height: 500px;
}

.about__texts {
    margin: 50px;
    font-size: 20px;
    color: var(--color--texts2);
}

.about__texts h2 {
    margin: 10px 0px;
    color: var(--color1);
}

.about__texts h3 {
    margin: 10px 0px;
}

.about__texts p {
    margin: 10px 0px;
}

.social {
    margin: 20px 0;
}

.social a {
    margin: 0 5px;
    text-decoration: none;
    color: var(--color1);
}

.social-icons {
    font-size: 50px;
    transition: all 0.3s;
    padding: 5px;
    border: 2px solid var(--color1);
    border-radius: 50%;
}

.social-icons:hover {
    transform: scale(1.1);
}


/* .bxl-whatsapp {
    background-color: #25D366;
    border-radius: 15px;
    color: white;
}

.bxl-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    border-radius: 15px;
    color: white;
}

.bxl-facebook {
    background-color: #3b5998;
    border-radius: 15px;
    color: white;
}

.bxl-linkedin {
    background-color: #0072b1;
    border-radius: 15px;
    color: white;
} */

/* .bxl-whatsapp:hover {
    transform: scale(1.2);
    color: #25D366;
}
.bxl-instagram:hover {
    transform: scale(1.2);
    color: #DD2A7B;
}
.bxl-facebook:hover {
    transform: scale(1.2);
    color: #3b5998;
}
.bxl-linkedin:hover {
    transform: scale(1.2);
    color: #0072b1;
} */
/* ABOUT END*/
/* SKILLS START */

.skills__section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skills__left {
    height: 100%;
    width: 100%;
    max-width: 60%;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, .1);
}

.skills__tittle {
    color: var(--color1);
    font-size: 20px;
}

/* .skills__right {
    display: flex;
    width: 50%;
    height: 100%;
} */


.skills__tittle h2 {
    margin-bottom: 30px;
    /* border-bottom: 3px solid var(--color1); */
}

.detalles {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.detalles span {
    color: var(--color--texts2);
}

.menu {
    position: relative;
    border: 1px solid var(--color1);
    /* border-radius: 10px; */
}

.menu div {
    position: relative;
    width: 0;
    height: 8px;
    /* border-radius: 20px; */
    background-color: var(--color1);
}

/* Animation */

#html-menu {
    animation: html-barra 2s forwards;
}

@keyframes html-barra {
    100% {
        width: 70%;
    }
}

#css-menu {
    animation: css-barra 2s forwards;
}

@keyframes css-barra {
    100% {
        width: 60%;
    }
}

#js-menu {
    animation: js-barra 2s forwards;
}

@keyframes js-barra {
    100% {
        width: 30%;
    }
}

#react-menu {
    animation: react-barra 2s forwards;
}

@keyframes react-barra {
    100% {
        width: 10%;
    }
}

#php-menu {
    animation: php-barra 2s forwards;
}

@keyframes php-barra {
    100% {
        width: 30%;
    }
}

#sql-menu {
    animation: sql-barra 2s forwards;
}

@keyframes sql-barra {
    100% {
        width: 50%;
    }
}

#git-menu {
    animation: git-barra 2s forwards;
}

@keyframes git-barra {
    100% {
        width: 40%;
    }
}

#wordpress-menu {
    animation: wordpress-barra 2s forwards;
}

@keyframes wordpress-barra {
    100% {
        width: 70%;
    }
}



/* SKILLS END */
/* PROJECTS START */

/*  PROJECT END*/
/* CONTACT FORM START */
.contact__section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__container {
    width: 100%;
    max-width: 60%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, .1);
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--color1);
    padding: 20px;
}


.ubication {
    margin: 50px;
}

.contact__icon {
    font-size: 50px;
    color: var(--color2);
}

.contact__info p {
    font-size: 20px;
    color: var(--color--texts1);
}

.contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.contact__tittle {
    margin-bottom: 20px;
    color: var(--color1);
}

.input {
    padding: 20px;
    margin: 10px 0;
    width: 90%;
    height: 60px;
    border: none;
    color: var(--color3);
    background-color: #d7d7d7;
}

.input__msj {
    height: 150px;
}

textarea {
    resize: none;
}

.button {
    cursor: pointer;
    height: 50px;
    background-color: var(--color1);
    color: var(--color--texts1);
}

/* CONTACT FORM END */

.footer-end {
    height: 60px;
    background-color: var(--color1);
    color: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1600px) {

    .tittle-hero {
        font-size: 35px;

    }

    .paragraph-hero {
        font-size: 25px;
    }

    .about__container {
        max-width: 80%;
    }

    .skills__left {
        max-width: 80%;
    }

    .contact__container {
        max-width: 80%;
    }

}

@media screen and (max-width: 1200px) {

    .about-img img {
        height: 450px;
    }

    .about__texts {
        margin: 10px;
        font-size: 18px;
    }

    .social-icons {
        margin: 5px 0;
        font-size: 40px;
    }

    .contact__icon {
        font-size: 40px;
    }

}

@media screen and (max-width: 975px) {

    /* body {
        background-attachment: local;
    } */

    .home {
        background-attachment: local;
    }

    header {
        padding: 0px 0%;
    }

    /* MENU START */
    .navlinks {
        position: fixed;
        top: 60px;
        width: 100%;
        height: 100%;
        background-color: var(--bg-menu);
        display: flex;
        text-align: center;
        flex-direction: column;
        left: -100%;
        transition: all .70s ease;
    }

    .active-links {
        left: 0%;
    }

    .navlinks li {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navlinks li a {
        color: var(--color2);
        font-size: 20px;
        font-weight: 500;
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navlinks li:hover {
        background-color: var(--bg-menu-hover);
    }

    .navlinks a:hover {
        color: var(--color1);
    }

    #menu-icon {
        display: block;
        margin-right: 30px;
    }

    .tittle-hero {
        font-size: 30px;
    }

    .paragraph-hero {
        font-size: 20px;

    }

    .flags {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        right: 0px;
    }

    .flag {
        height: 35px;
        cursor: pointer;
        display: block;
        margin: 0 5px;
    }

    /* MENU END */
    /* ABOUT START */
    .about__section {
        flex-direction: column;
        text-align: center;
    }

    .about__container {
        max-width: 90%;
        flex-direction: column;
        text-align: center;
        padding: 0px 0px;
        /* box-shadow: none; */
    }

    .about-img img {
        height: 400px;
    }

    .about__texts {
        text-align: center;
        margin: 20px;
        font-size: 20px;
    }

    /* ABOUT END */

    .skills__left {
        max-width: 90%;
    }

    .skills__tittle {
        text-align: center;
    }

    /* CONTACT FORM START */

    .contact__container {
        max-width: 90%;
        grid-template-columns: 1fr;
    }

    /* CONTACT FORM END */

    .footer-end p {
        font-size: 12px;
    }

}

@media screen and (max-width: 300px) {
    .about-img img {
        height: 300px;
    }

    .social-icons {
        font-size: 20px;
    }

    .contact__icon {
        font-size: 30px;
    }

    .contact__info p {
        font-size: 15px;
    }

    .footer-end p {
        font-size: 10px;
    }
}